.title{
    display: flex;
    flex-direction:column;
    align-items:center;
    overflow: hidden;
    background-color: #e9e9e9;
}
h1{
    
    background-color: #d0c117;

}
h2{
    background-color: #d0c117;

}
h3{
    background-color: #d0c117;

}
.heading{
    background-color: aqua;
}
.app{
    display: flex;
}
.logo{
    width: 100px;
    padding: 10px;
}
.user{
    width: 30px;
    height: 30px;
    margin-left: 30%;
}

.bar{
  width: 200px;
  height: 20px;
  margin-left: 30%;

}
.button{
    width: 60px;
    height: 25px;
}